<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin/home">Study Group (Admin)</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/admin/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/create-room">Create Room</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Manage
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin/manage-rooms">Rooms</a></li>
            <li><a class="dropdown-item" href="/admin/manage-notes">Notes</a></li>
            <li><a class="dropdown-item" href="/admin/manage-schedules">Schedules</a></li>
            <li><a class="dropdown-item" href="/admin/manage-files">Files</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Welcome, <span class="badge bg-secondary"><%= user.username %></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/client/login">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>