<% layout('layouts/main-admin') %>

<div class="card">
  <div class="card-header">Bảng Điều Khiển</div>
  <div class="card-body">
    <h5 class="card-title">Chào mừng đến với Admin Panel!</h5>
    <p class="card-text">Đây là khu vực quản lý chính. Vui lòng chọn một mục từ menu bên trái.</p>
  </div>
</div>
