<div class="tab-pane fade show active" id="chat" role="tabpanel">
    <div class="chat-container">
        <div class="chat-header">
            <div class="d-flex align-items-center">
                <i class="fas fa-comments me-3"></i>
                <h5 class="mb-0">Thảo luận nhóm</h5>
            </div>
        </div>
        
        <div class="chat-box" id="chat-messages">
            <%- include('./chat-messages') %>
        </div>
        
        <div class="chat-input">
            <form class="d-flex gap-2">
                <input type="text" class="form-control" placeholder="Nhập tin nhắn..." style="border-radius: 25px;">
                <button type="button" class="btn btn-icon btn-outline-primary">
                    <i class="far fa-smile">Gửi</i>
                </button>
            </form>
        </div>
    </div>
</div> 

